.center {text-align:center;background-color:#00008B;}
.orange {background-color:orange;}
.blue {color:blue;}
span {color:green; font-weight:bold;}
.und {text-decoration: underline; font-style: italic; color:purple;}
#name {color:yellow; font-size:150%;}
#address {color:white;}
